*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hr-line{
    width: 50px;
    height: 3px;
    background-color: #008374;
    margin: auto;
}

h1{
    text-align: center;
    font-weight: bold;
}
.card{
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1) !important;
    border: none !important;
    border-radius: 10px !important;
}

.card-img-top{
    padding: 12px;
    border-radius: 12px !important;
}

.card-text{
    color: #898989;
}

.bi{
    color: #a89f9f !important;
    cursor: pointer;
    border: 1px solid #a89f9f;
    border-radius: 50%;
    font-size: 22px;
    width: 40px;
    height: 40px;
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
}
.bi:hover{
    color: #008374 !important;
    border: 1px solid #008374;
}






 /* _____________________________________________________________________________  */







.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url('img/IMG_20210713_144241.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
    box-shadow: 0 0 0 4px #fff, 0 0 0 5px #246df5;
    transition: box-shadow 0.2s;
}

.profile:hover {
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px #d10fd8;
}

.content {
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    min-width: 200px;
}

.profile:hover .content {
    visibility: visible;
    opacity: 1;
}

.linkedin-badge {
    margin-top: 15px;
}
